@model PlannerLib.Model.Task
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="container col-4">

    <form class="form-check mr-4" asp-action="Create">
        <div class="form-group row">
            <h4 class="mb-4">Create task</h4>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="text-left">

            <div class="form-group row">
                <input asp-for="Name" class="form-control col-12" placeholder="name" required autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <textarea asp-for="Description" class="form-control col-12" placeholder="description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Priority" class="control-label col-4"></label>
                <select class="custom-select col-8" asp-for="Priority">
                    @*<option value="0">Urgent</option>
                    <option value="1">High</option>
                    <option value="2" selected>Medium</option>
                    <option value="3">Low</option>*@

                    @foreach (PlannerLib.Model.Priority item in Enum.GetValues(typeof(PlannerLib.Model.Priority)))
                    {
                        <option value="@item.ToString("d")">@item</option>
                    }



                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Label" class="control-label col-4"></label>
                <input asp-for="Label" class="form-control col-8" placeholder="label" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Deadline" class="control-label col-4"></label>
                <input asp-for="Deadline" class="form-control col-8"/>
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Time_volume" class="control-label col-4">Execution time</label>
                <select class="custom-select col-8" asp-for="Time_volume">

                    @foreach (PlannerLib.Model.TimeVolume item in Enum.GetValues(typeof(PlannerLib.Model.TimeVolume)))
                    {
                    <option value="@item.ToString("d")">@item</option>
                    }

                </select>
                <span asp-validation-for="Time_volume" class="text-danger"></span>
            </div>

        </div>

        <p></p>

        <div class="form-group row">
            <input type="submit" value="Create" class="btn btn-primary my-2 col-3" />
            <a class="navbar-brand col-4" asp-action="Main">Cancel</a>
        </div>

    </form>

</div>

