@model IEnumerable<PlannerLib.Model.Task>
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="container-fluid bg-primary mb-3">

                @*<partial name="Calendar" model="@ViewData["Schedule"]" />*@

            </div>

            <div class="container-fluid">

                <partial name="TodaySchedule" model="@ViewData["TaskToday"]" />
                @*view-data='@new ViewDataDictionary(ViewData) { { "LimitForDay",  @ViewData["LimitForDay"] } }'*@
            </div>
        </div>
        <div class="col-md-5">
            <div class="container-fluid bg-light py-2">

                <partial name="Read" model="Model" />

            </div>

            <div class="container-fluid mt-3">

                <partial name="CreateSmall" model="@ViewData["Task"]" />


            </div>

        </div>
    </div>
</div>


