@model IEnumerable<PlannerLib.Model.Task>
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="container-fluid  mb-3">


                <partial name="Calendar" model="@ViewData["Sync"]" />

            </div>
            <div class="container-fluid  mb-1">

                <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMinsk&amp;src=bGFudGFuLm1wNEBnbWFpbC5jb20&amp;src=c2RlcGhwaDcxc2Zkc25odHJwdmg4NWlyYWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23616161&amp;color=%237CB342&amp;mode=WEEK&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showDate=0&amp;showTz=0" style="border:solid 1px #777" width="720" height="285" frameborder="0" scrolling="no"></iframe>

            </div>

            <div class="container-fluid">

                <partial name="TodaySchedule" model="@ViewData["TaskToday"]" />
                @*view-data='@new ViewDataDictionary(ViewData) { { "LimitForDay",  @ViewData["LimitForDay"] } }'*@
            </div>
        </div>
        <div class="col-md-5">
            <div class="container-fluid bg-light py-1">

                <partial name="Read" model="Model" />

            </div>

            <div class="container-fluid mt-3">

                <partial name="CreateSmall" model="@ViewData["Task"]" />


            </div>

        </div>
    </div>
</div>


