@model IEnumerable<PlannerLib.Model.Task>
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <div class="container-fluid bg-primary mb-3">
                @*<iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23616161&amp;ctz=Europe%2FMinsk&amp;src=bGFudGFuLm1wNEBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=c2RlcGhwaDcxc2Zkc25odHJwdmg4NWlyYWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Y2xhc3Nyb29tMTA4MDgxNzAwMjM3MzUxNjIyMzI5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=a3JvNDdlZmhjdG83Nm9zZXU5NGI2MmtzbTI1YW5ycjdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=cnUuYnkjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=Y2xhc3Nyb29tMTA5MTYwMzA3MzU5NjM4MDQwNjI4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23616161&amp;color=%23AD1457&amp;color=%237CB342&amp;color=%230047a8&amp;color=%23D81B60&amp;color=%23009688&amp;color=%23c26401&amp;showPrint=0&amp;showTitle=0&amp;showTabs=0&amp;showTz=1&amp;hl=en&amp;mode=WEEK"
                        style="border:solid 1px #777" width="800" height="300" frameborder="0" scrolling="no"></iframe>*@

            </div>

            <div class="container-fluid">

               future view

            </div>
        </div>
        <div class="col-3">
            <div class="container-fluid bg-light">

                <partial name="Read" model="Model" />

                @*@ViewData["Tasks"].ToString()*@

                @*<div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label text-primary" for="inlineCheckbox1">1</label>
                    <label class="form-check-label text-secondary" for="inlineCheckbox1">1</label>
                </div>*@

            </div>
        </div>
    </div>
</div>


