@model IEnumerable<PlannerLib.Model.Task>
@{Dictionary<int, int> make = ViewData["Maked"] as Dictionary<int, int>;}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h4>Schedule for today</h4>

<div class="container row mt-2">

    <div class="col-8 m-2">

        @foreach (var task in Model)
        {

            <div class="mb-2 row list-group-item-light">
                @if (make[task.Id] == 1)
                {
                    <del class="col">
                        <b class="h6">@Html.DisplayFor(modelItem => task.Name)</b>
                    </del>
                }
                else
                {
                    <b class="col h6">@Html.DisplayFor(modelItem => task.Name)</b>
                }


                <a type="checkbox" class="btn-sm btn-link col-2"
                   asp-action="Maked" asp-route-id="@task.Id">Done</a>
                <a class="btn-sm btn-link col-2 h6" asp-action="Open" asp-route-id="@task.Id"><b>Work-it</b></a>

            </div>
        }

    </div>




</div>